/node_modules
/public/hot
/public/storage
/public/uploads/TMP
!/public/uploads/images/.gitkeep
!/public/uploads/audio/.gitkeep
!/public/uploads/video/.gitkeep
!/public/uploads/documents/.gitkeep
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
