/node_modules
/public/hot
/public/storage
/public/uploads/TMP
/public/uploads/images/*.jpg
/public/uploads/images/*.jpeg
/public/uploads/images/*.png
/public/uploads/images/*.bmp
/public/uploads/images/*.gif
/public/uploads/audio/*.mp3
/public/uploads/audio/*.wav
/public/uploads/audio/*.ogg
/public/uploads/video/*.mov
/public/uploads/video/*.mp4
/public/uploads/documents/*.pdf
/public/uploads/documents/*.txt
/public/uploads/documents/*.doc
/public/uploads/documents/*.docx
/public/uploads/documents/*.xml
/public/uploads/documents/*.xlsx
/public/uploads/documents/*.csv
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
