*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Product Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

a{
    text-decoration: none;
    color: #485fc7;
    font-weight: 500;
}

a:hover{
    color: #1934aa;
}

.wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.sidebar{
    display: block;
    position: fixed;
    width: 230px;
    height: 100%;
    top: 32px;
    left: 0;
    background-color: #101824;
    overflow-y: auto;
}

.sidebar_menu{
    display: block;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar_menu li{
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.sidebar_menu li.menu_title{
    color: #fff;
    opacity: .3;
    padding: 0 0 10px 0;
    margin: 10px 10px 0 10px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.sidebar_menu li a{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 6px 10px 6px 9px;
    color: #a2acbb;
    font-size: 15px;
    border-left: 3px solid transparent;
    transition: all .2s;
}

.sidebar_menu li a i{
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin-right: 5px;
}

.sidebar_menu li:hover a{
    background-color: rgba(255,255,255,.05);
    color: #a7c4ff;
    border-left: 3px solid #a7c4ff;
}

footer.footer{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
    height: auto;
    top: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.content{
    display: block;
    position: relative;
    width: calc(100% - 230px);
    height: calc(100vh - 35px);
    margin-left: 230px;
    min-height: 100%;
}

.content_wrapp{
    display: block;
    position: relative;
    padding: 30px 30px 0;
    margin-bottom: 45px;
}

.title{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.docs_tabs{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.docs_links{
    width: 300px;
}

.docs_links ul{
    list-style-type: none;
}

.docs_links ul li{
    border-bottom: 1px solid rgba(0,0,0,.08);
}

.docs_links ul li:last-child{
    border-bottom: none;
}

.docs_links ul li a{
    display: block;
    padding: 10px;
    background-color: rgba(0,0,0,.03);
}

.docs_links ul li.active a,
.docs_links ul li.active:hover a{
    background-color: #485fc7;
    color: #fff;
}

.docs_links ul li a:hover{
    background-color: rgba(0,0,0,.055);
    text-decoration: none;
}

.docs_content{
    display: block;
    position: relative;
    width: calc(100% - 330px);
    margin-left: 30px;
}

.tabcontent{
    display: block;
    position: relative;
    width: 100%;
}

.docs_content ul{
    list-style-type: none;
    position: relative;
}

.docs_content ul li{
    display: none;
    position: relative;
    border-left: 3px solid #485fc7;
    padding-left: 15px;
    width: 100%;
}

.docs_content ul li.active{
    display: block;
}

.docs_content ul li h2{
    font-size: 32px;
}

.docs_content ul li p{
    display: block;
    margin: 10px 0 20px 0;
}

.docs_content ul li code,
.docs_content ul li pre{
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(0,0,0,.03);
    margin: 10px 0;
    width: calc(100% - 40px);
    border-radius: 6px;
}

.docs_content ul li code p{
    display: block;
    margin: 10px 0;
}

.docs_content ul li span{
    display: block;
    font-weight: 300;
    font-style: italic;
}

.docs_content ul li h3{
    margin-top: 30px;
}

.docs_content ul li code span,
.docs_content ul li pre span{
    display: inline-block;
    opacity: .3;
}

table.admin_table tbody tr th.thumbnail{
    width: 40px;
    text-align: center;
}

table.admin_table tbody tr th.thumbnail img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 5px;
}

table.admin_table tbody tr th.thumbnail img.none{
    opacity: .7;
}

table.admin_table tr th,
table.admin_table tr td{
    vertical-align: middle;
}

.page_actions{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.page_actions .buttons{
    margin: 0;
}

.page_actions .buttons .button{
    font-size: 14px;
}

.page_actions .links nav.pagination ul,
.page_actions .links nav.pagination ul li{
    margin: 0;
}

.page_actions .links nav.pagination ul li a.disabled{
    opacity: .4;
}

.page_actions.bottom{
    margin-bottom: 100px;
}

.page_actions ul.filterlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.page_actions ul.filterlist li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page_actions ul.filterlist li strong{
    margin-right: 5px;
}

.page_actions .buttons a{
    margin: 0;
}

.page_actions.header_actions{
    margin-bottom: 15px;
}

table.admin_table tr td.date,
table.admin_table tr td.category{
    width: 200px;
}

table.admin_table tr td.comments,
table.admin_table tr td.type{
    width: 60px;
}
table.admin_table tr td.author{
    width: 100px;
}

table.admin_table tr td.title a.post_title{
    font-size: 16px;
    font-weight: 600;
}

table.admin_table tr td.title a.post_title:hover{
    text-decoration: underline;
}

table.admin_table tr td.title .post_actions{
    display: block;
    margin: 0;
}

table.admin_table tr td.title .post_actions ul{
    list-style-type: none;
    margin: 4px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

table.admin_table tr td.title .post_actions ul li{
    margin: 0 5px 0 0;
    padding: 0;
    line-height: 10px;
    font-size: 0px;
}

table.admin_table tr td.title .post_actions ul li a{
    font-size: 14px;
    opacity: .5;
    filter: brightness(0.5);
}

table.admin_table tr td.title .post_actions ul li a:hover{
    opacity: 1;
    filter: brightness(1);
}

table.admin_table tr td.title .post_actions ul li a.delete_post{
    color: #c91717;
}

.editor_cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.editor_cards .left_side{
    width: calc(100% - 350px);
    padding-right: 30px;
}

.editor_cards .right_side{
    width: 350px;
}

.editor .form_control{
    display: block;
    position: relative;
}

.card_title{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.is_fullwidth{
    width: 100%;
}

.card_action_title{
    margin-top: 20px;
}

ul.date_listing{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul.date_listing li:first-child{
    width: 27%;
}

ul.date_listing li.day{
    width: 13%;
}
ul.date_listing li{
    width: 20%;
    margin: 0;
    padding: 0 2px;
}
ul.date_listing li.at{
    width: 8%;
    text-align: center;
}
ul.date_listing li.dot{
    width: 2%;
    text-align: center;
}
ul.date_listing li.time{
    width: 15%;
}
ul.date_listing li.year{
    width: 20%;
}

.card-footer-gray{
    display: block;
    text-align: right;
    background-color: rgba(0,0,0,.03);
    padding: 15px;
}

.form_control.add_media{
    margin-top: 20px;
}

.add_media a i,
.add_media button i{
    margin-right: 5px;
    font-size: 20px;
}

.card{
    margin-bottom: 30px;
}

.form_control .category_listing{
    display: block;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.02);
}

.form_control img.featured_image{
    opacity: .7;
}

.media_lib_popup{
    display: none;
    position: fixed;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(0,0,0,.2);
    overflow: hidden;
    /*transition: all .3s;*/
    /*transform: translateY(-100%);*/
    /*visibility: hidden;*/
    z-index: 99999;
}

.media_lib_popup.open{
    /*transform: translateY(0);*/
    /*visibility: visible;*/
    display: block;
}

.media_lib_popup_bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    /*transition: all .5s;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
    z-index: 99998;
}

.media_lib_popup_bg.open{
    display: block;
    /*opacity: 1;*/
    /*visibility: visible;*/
}

.ml_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.ml_header h2{
    margin: 0;
}

.ml_explorer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ml_files,
.tny_files{
    width: calc(100% - 300px);
    height: calc(100% - 71px);
    overflow: hidden;
}

.ml_files ul.ml_tabs,
.tny_files ul.ml_tabs{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.02);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.ml_files ul.ml_tabs li{
    margin: 0;
    padding: 0;
}

.ml_files ul.ml_tabs li a{
    display: inline-block;
    padding: 10px 20px;
    color: #999;
}

.ml_files ul.ml_tabs li.active a{
    background-color: rgba(0,0,0,.05);
    color: #485fc7;
}

.ml_files ul.ml_tabs li a:hover{
    color: #485fc7;
}

.ml_sidebar{
    position: relative;
    width: 300px;
    height: calc(100% - 71px);
    border-left: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    overflow-y: auto;
}

.ml_files .ml_tab_content{
    list-style-type: none;
    width: 100%;
    height: calc(100% - 44px);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ml_files .ml_tab_content li{
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

.ml_files .ml_tab_content li.active{
    display: block;
}

.ml_files .ml_tab_content li h4.tab_title{
    width: 100%;
    padding: 0 5px;
}

.ml_files .ml_tab_content li span.ml_file{
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.03);
    padding: 5px;
    width: 150px;
    height: 150px;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
}

.ml_files .ml_tab_content li span.ml_file.active,
.ml_files .ml_tab_content li span.ml_file.active:hover{
    border-color: #485fc7;
    background-color: #485fc7;
}

.ml_files .ml_tab_content li span.ml_file.active::before{
    content: ''
}

.ml_files .ml_tab_content li span.ml_file.opacitied{
    opacity: .5;
}

.ml_files .ml_tab_content li span.ml_file:hover{
    background-color: rgba(0,0,0,.1);
}

.ml_files .ml_tab_content li span.ml_file img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ml_files .ml_tab_content li span.ml_file p{
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    z-index: 10;
}

.ml_files .ml_tab_content li span.ml_file.active p{
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    padding: 5px 10px 0px 10px;
}

.files_list_box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    overflow-y: auto;
}

.ml_sidebar img.file_preview{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.ml_sidebar strong.filename{
    display: block;
    word-break: break-word;
    margin-top: 5px;
}

.ml_sidebar span.fileinfo{
    display: block;
    color: #999;
    margin-top: 5px;
}

.ml_sidebar .delete-this{
    display: none;
}

.ml_sidebar .delete-this button{
    color: #bb1b1b;
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
}

.ml_sidebar .delete-this button:hover{
    color: #f00;
    text-decoration: underline;
}

.ml_file_preview audio{
    width: 100%;
}

.ml_file_preview video{
    width: 100%;
    height: 200px;
}

.filesourceurl{
    margin-top: 20px;
}

a.open_file_intab,
a.download_file_directly{
    visibility: hidden;
    margin-top: 10px;
}

a.open_file_intab i,
a.download_file_directly i{
    margin-left: 5px;
}

.add_file_to_content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    height: auto;
    left: 0;
    top: calc(100% - 70px);
    text-align: center;
    background-color: #fff;
    padding: 10px 0 0 0;
    transition: all .1s;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.add_file_to_content.show{
    visibility: visible;
    opacity: 1;
}

.error_format{
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 5px 30px 5px 15px;
    font-size: 13px;
}

.form_control.content_editor{
    margin-top: 10px;
}

.form_control.permalink{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.form_control.permalink input{
    width: 200px;
    margin-left: 10px;
}

.tox-statusbar__branding{
    display: none;
}

.field_editor{
    font-size: 32px;
}

body.admin-area .tox .tox-dialog-wrap__backdrop{
    background-color: rgba(0,0,0,.7);
}

body.admin-area .tox .tox-dialog{
    border-radius: 6px;
    border: none;
    box-shadow: 0px 10px 40px rgba(0,0,0,.3);
}

body.admin-area .tox .tox-button--naked.tox-button--icon:hover:not(:disabled){
    border-radius: 100px;
    overflow: hidden;
}

body.admin-area .tox.tox-tinymce{
    overflow: visible !important;
}

body.admin-area button[aria-label="Source code"]{
    position: absolute;
    top: -33px;
    right: -1px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 7px 10px;
    height: auto;
    cursor: pointer;
    font-size: 12px;
}

body.admin-area button[aria-label="Preview"]{
    position: absolute;
    top: -33px;
    right: 62px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 7px 10px;
    height: auto;
    cursor: pointer;
    font-size: 12px;
}

body.admin-area button[aria-label="Fullscreen"]{
    position: absolute;
    right: 2px;
}

body.admin-area button[aria-label="Source code"] span,
body.admin-area button[aria-label="Preview"] span{
    cursor: pointer;
}

body.admin-area button[aria-label="Source code"]:hover,
body.admin-area button[aria-label="Preview"]:hover{
    border: 1px solid transparent;
}

body.admin-area button[aria-label="Word count"],
body.admin-area button[aria-label="Page break"]{
    display: none !important;
}

.excerpt_editor{
    margin-top: 30px;
}

a.remove_fimage{
    display: none;
    color: #b41e1e;
}

a.remove_fimage:hover{
    color: #f00;
}

.current_theme{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    border: 1px solid #ccc;
}

.curr_theme_col{
    width: 50%;
    line-height: normal;
    padding: 15px;
}

.curr_theme_desc h2{
    font-size: 52px;
    font-weight: 100;
    margin-bottom: 10px;
}

.curr_theme_desc span{
    color: #999;
}

.curr_theme_desc p{
    margin-top: 10px;
}

.curr_theme_thumb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.03);
}

.curr_theme_thumb span.no_screenshot,
.theme_preview span.no_screenshot{
    color: #b61b1b;
    font-weight: 600;
}

.curr_theme_actions{
    display: block;
    position: relative;
    margin-top: 10px;
}

.installed_themes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.installed_theme_item{
    width: 25%;
    height: auto;
    padding: 5px;
}

.theme_ite_container{
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 4px;
    text-align: center;
    transition: all .2s;
    padding: 10px;
}

.theme_ite_container:hover{
    box-shadow: 0px 10px 15px rgba(0,0,0,.1);
}

.theme_not_validated{
    display: block;
    text-align: center;
    background-color: #ffdbdb;
    color: #b61b1b;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 6px;
    margin-top: 10px;
}

.theme_validated{
    display: block;
    text-align: center;
    background-color: #dbffe3;
    color: #159b2c;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 6px;
    margin-top: 10px;
}

.theme_preview{
    text-align: center;
}

.installed_theme_item h4{
    font-weight: 400;
    margin-top: 10px;
}

.installed_theme_item span.version{
    font-size: 13px;
    color: #999;
}

.apply_theme,
.remove_theme{
    margin-top: 10px;
}

.installed_themes .installed_theme_item .apply_theme_button{
    border-radius: 4px;
}

.upload_new_theme{
    margin-bottom: 20px;
}

.theme_uploader{
    display: none;
    margin-top: 10px;
}

.theme_uploader.open{
    display: block;
}

.theme_uploader form input{
    cursor: pointer;
}

button.action_upload{
    display: none;
}

button.action_upload.open{
    display: inline-block;
}

.message{
    position: relative;
}

.message button.delete{
    position: absolute;
    top: 5px;
    right: 5px;
}

.content table tbody tr td.menu_items_count{
    width: 100px;
    text-align: center;
}

.content table tr th.menu_items_count_tbf{
    text-align: center;
}

.content table tbody tr td.menu_name a{
    font-weight: 600;
}

.create_menu_container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
}

.create_menu_sidebar{
    width: 400px;
    border-right: 1px solid #ccc;
    padding: 0;
}

.create_menu_sidebar h4{
    padding: 10px;
    margin: 0;
}

.create_menu_sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.create_menu_sidebar ul li{
    font-size: 0;
}

.create_menu_sidebar ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: -1px;
    background-color: rgba(0,0,0,.02);
    font-size: 14px;
}

.create_menu_sidebar ul li a:hover{
    background-color: rgba(0,0,0,.05);
}

.create_menu_sidebar ul li a i{
    display: none;
    position: absolute;
    top: calc(50% - 8px);
    right: 20px;
    color: #999;
}

.create_menu_sidebar ul li a:hover i{
    display: inline-block;
}

.create_menu_content{
    width: calc(100% - 400px);
}

.submit_menu_form{
    display: block;
    width: 100%;
}

.submit_new_menu{
    width: 100%;
    padding: 15px;
}

.submit_new_menu button{
    font-weight: 600;
}

.create_menu_content .formcontroll{
    display: block;
    padding: 10px 15px;
}

.create_menu_content .formcontroll label{
    display: inline-block;
    width: auto;
}

.create_menu_content .formcontroll label span{
    display: block;
    font-weight: 600;
}

.create_menu_content .formcontroll input.name{
    width: 260px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.create_menu_content .formcontroll span.edit_menu_field_desc{
    font-size: 14px;
    font-weight: 400;
    color: #999;
    font-style: italic;
    display: block;
}

.back_to_all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

a.delete_menu{
    color: #c11d1d;
}

a.delete_menu:hover{
    color: #f00;
}

.create_menu_sidebar ul.post_list{
    display: none;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 4px;
    width: calc(100% - 20px);
    min-height: 200px;
    overflow-y: auto;
}

.create_menu_sidebar ul.post_list.active{
    display: block;
}

.create_menu_sidebar ul.post_list li{
    display: block;
}

.create_menu_sidebar ul.post_list li a{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 4px;
}

.create_menu_sidebar ul.post_list li a:hover{
    background-color: rgba(0,0,0,.03);
}

.create_menu_sidebar h3.open_links{
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0px;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.create_menu_sidebar h3.open_links::after{
    content: '+';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0,0,0,.3);
    top: calc(50% - 8px);
    right: 10px;
    border-radius: 100px;
    text-align: center;
    line-height: 13px;
}

.create_menu_sidebar h3.open_links.active::after{
    content: '-';
    line-height: 14px;
}

.create_menu_sidebar ul.post_list p{
    margin-top: 5px;
}

.create_menu_content .formcontroll h3{
    margin-bottom: 0;
}

.menu_item_rpt{
    display: flex;
    position: relative;
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,.03);
    width: 100%;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}

.menu_item_rpt:hover{
    background-color: rgba(0,0,0,.05);
}

.menu_item_rpt .menu_field_input{
    width: 40%;
    padding: 10px 5px;
}

.menu_item_rpt .delete_input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 10px 5px;
}

.menu_item_rpt .menu_field_input_order,
.menu_item_rpt .menu_field_input_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 10px 5px;
}

.menu_item_rpt .delete_input a{
    color: #ba1919;
}

.menu_item_rpt .delete_input a:hover{
    color: #f00;
}

.restriction_alert{
    display: block;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.restriction_alert .notification{
    display: inline-block;
    width: 900px;
    max-width: 100%;
}

.deashboard_index{
    display: block;
    position: relative;
}

li.updates_available a{
    animation: updates_available 2s infinite;
}

@keyframes updates_available {
    0%{
        color: #a2acbb;
    }
    50%{
        color: #10ff00;
    }
    100%{
        color: #a2acbb;
    }
}

ul.updates_list{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.details_text{
    display: none;
}

.details_text.show{
    display: block;
}

.details_text ol{
    display: inline-block;
    width: 500px;
    max-width: 100%;
    padding: 20px 20px 20px 40px;
    margin: 10px 0 0 0;
    background-color: rgba(0,0,0,.05);
    border-radius: 6px;
}

.download_update{
    display: block;
    margin-top: 10px;
}

.deashboard_index .download_update a{
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}

.download_update a strong{
    margin: 0 3px;
    font-weight: 900;
}

span.tag.update-type{
    box-shadow: 0px 3px 5px rgba(0,0,0,.1);
}


img.updates_banner{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.dashboard_index_columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul.posts_list_in_card{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.preview_theme_frame{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: rgba(255,255,255,.8);*/
    opacity: 0;
    transition: all .1s;
    visibility: hidden;
    z-index: 99;
}

.preview_theme_frame.show{
    opacity: 1;
    visibility: visible;
}

.close{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.theme_preview_screen{
    display: block;
    position: absolute;
    width: calc(100% - 270px);
    height: calc(100% - 74px);
    top: 54px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0,0,0,.3);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}

.prev_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.prev_top h4{
    padding: 10px 20px;
    margin: 0;
}

.prev_top button.close_preview_theme{
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.prev_top button.close_preview_theme:hover{
    opacity: .5;
}

.prev_frame_window{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.prev_frame_window iframe{
    width: 100%;
    height: 100%;
}
